<div class="jumbotron">
    <div id="logo">
        <img id='logo-img' src="https://cdn.wallpapersafari.com/60/53/ZjsAkn.jpg" alt="Logo of Eat-Da-Burger!">
    </div>

    <h1>Eat-da-Burger!</h1>
    <hr>
    <form class="create-form" id="build-burger">
        <label for="bn">Name a burger to build: </label>
        <input type="text" id="bn" name="name">
        {{!-- <textarea type="text" name="build" placeholder="build a burger (e.g. Super-chomper)"></textarea> --}}
        <button type="submit">Submit Order!</button>
    </form>
    {{!-- End of jumbotron --}}
</div>

<div class="container">
    {{!-- This waiting area displays uneaten burgers --}}
    <section class="split left">
        <h2 class='burger-header' id="edible-list">Edible Burgers</h2>
        <hr>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>{{this.burger_name}} <button class="devour-btn" data-id="{{this.id}}">DEVOUR!</button></li>
            {{/unless}}
            {{/each}}
        </ul>
    </section>

    {{!-- This section displays eaten burgers  --}}
    <section class="split right">
        <h2 class='burger-header' id="devoured-list">Devoured Burgers</h2>
        <hr>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>{{this.burger_name}}</li>
            {{/if}}
            {{/each}}
        </ul>
    </section>
    {{!-- End of container --}}
</div>

<script type="text/javascript">
    // Make sure we wait to attach our handlers until the DOM is fully loaded.
    $(function () {
        $(".create-form").on("submit", function (event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();

            let newBurger = {
                burger_name: $("#bn").val().trim(),
                devoured: 0
            };

            // Send the POST request.
            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(
                function () {
                    console.log("created new burger");
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });

        $(".devour-burger").on("click", function (event) {
            let id = $(this).data("id");

            let devouredState = {
                devoured: 1
            };

            // Send the PUT request.
            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: devouredState
            }).then(
                function () {
                    console.log(`burger ${id} was devoured`);
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });
    });

</script>